@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .responsive {
    @apply mx-auto w-full max-w-[1512px] xl:px-[150px];
  }
  .text{
    @apply md:text-2xl text-lg md:px-4 px-2
  }
  .heading{
    @apply md:text-5xl text-4xl md:px-4 px-2 font-display
  }
  img{
    @apply saturate-150
  }
}

* {
  --tw-text-opacity: 1;
  color: inherit;
}
body{
  margin:0;
  padding: 0;
}

.font-display {
  font-family: Unbounded;
}
.font-text {
  font-family: Montserrat;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

#image-track > .image {
  object-fit: cover;
  object-position: 100% center;
}
